{
  "log": {
    "_recordingName": "fetchAccount",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2892ba23b8e47af6f229b59e6fa81f88",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "dd-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "dd-application-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/user/viragsf%40gmail.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 19721,
            "text": "{\"user\":{\"handle\":\"viragsf@gmail.com\",\"access_role\":\"adm\",\"disabled\":false,\"is_admin\":true,\"icon\":\"https://secure.gravatar.com/avatar/edd1469180957cee25d7753ef4a84a13?s=48&d=retro\",\"verified\":true,\"name\":null,\"roles\":[{\"uuid\":\"96bd2d8f-4625-11ec-a18c-da7ad0900002\",\"created_at\":\"2021-11-15T15:06:19.928032\",\"name\":\"Datadog Admin Role\",\"last_modified\":\"2021-11-15T15:06:19.928032\",\"id\":2095592,\"permissions\":[{\"display_name\":\"Logs Live Tail\",\"description\":\"View the live tail feed for all log indexes, even if otherwise specifically restricted.\",\"restricted\":false,\"created_at\":\"2018-10-31T13:39:48.292879\",\"name\":\"logs_live_tail\",\"uuid\":\"6f66600e-dd12-11e8-9e55-7f30fbb45e73\"},{\"display_name\":\"Standard Access\",\"description\":\"View and edit components in your Datadog organization that do not have explicitly defined permissions. This includes configuring some integrations (from the UI), events, most facets, and saved views. In order to configure integrations from the UI, a user must also have Integrations API.\",\"restricted\":false,\"[...]
